[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/vma"]
	path = libs/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/entt"]
	path = libs/entt
	url = https://github.com/skypjack/entt.git
[submodule "libs/KTX-Software"]
	path = libs/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/sjcobb2022/imgui.git
[submodule ".github/actions/setup-vulkan-sdk"]
	path = .github/actions/setup-vulkan-sdk
	url = https://github.com/sjcobb2022/setup-vulkan-sdk
[submodule "libs/tinygltf"]
	path = libs/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "libs/tinyobjloader"]
	path = libs/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
