# ignore build
build
build/**

# ignore env and non-needed assets
**/.env
**/.obj
*.spv
.env.cmake
.env.windows.cmake
.env.mac.cmake

# ignore compiler stuff (in case build is not ignored properly)
*.a

c_cpp_**.**


# Make sure dependencies are ok.
libs/**/build
libs/**/build/
libs/**/build/**

# personal reference folder for old code and ideas.
reference
reference/**

# Annoying apple caching thing
**/.DS_STORE