**/a.out
build
build/**

.vscode

**/.env
**/.obj
*.spv

littleVulkanEngine/sandbox/**
*.a

textures_
models/viking_room.obj
imgui.ini
.env.cmake

imgui
imgui/**

platform_build
platform_build/**

**/.DS_STORE

glfw
glfw/*
glfw/**

**/**.test

libs/**/build

_imgui_reference