**/a.out
build
build/**

.vscode

**/.env
**/.obj
*.spv

littleVulkanEngine/sandbox/**
*.a

textures_
models/viking_room.obj
imgui.ini
.env.cmake

external/vma
external/vma/**
external/imgui
external/imgui/**

c-src
c-src/**

platform_build
platform_build/**

bullet3
bullet3/
bullet3/**

bullet3/build3
bullet3/build3/**


**/.DS_STORE